.App {
  text-align: center;
  background-color: #010101;
  height: -webkit-fill-available;
}



.App-Home {
  background-color: #010101;
  min-width: 1024px;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
